#home-page #top-nav {
    background: white;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--light-shadow);
    box-sizing: border-box;
}
/* Left Div */
#home-page #top-nav .left-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}
/* Center Div */
#home-page #top-nav .input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}
#home-page #top-nav .input-wrapper .search-icon {
    position: absolute;
    fill: var(--primary-main);
    right: 1px;
    top: 50%;
    transform: translateY(-46%) ;
    border-radius: 0 18px 18px 0;
    padding: 4px 0;
    width: 40px;
    background: transparent;
    cursor: pointer;
}
#home-page #top-nav .input-wrapper .search-icon:hover {
    fill: var(--primary-dark);
}
#home-page #top-nav .input-wrapper input {
    padding: 8px 10px;
    border-color: transparent;
    background: var(--white);
    position: absolute;
    width: 80%;
    right: 0;
    transition: width .2s;
}
#home-page #top-nav .input-wrapper input:focus {
    width: 85%;
}
/* User Menu Div */
#top-nav .user-menu .avatar-wrapper.item.rectangle{
    border-radius: 20px;
    margin: 0;
}
#top-nav .user-menu .avatar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
    box-sizing: border-box;
}
#top-nav .user-menu .avatar img {
    margin: 0;
    padding: 0;
}
#top-nav .user-menu .avatar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
    box-sizing: border-box;
}
#top-nav  .user-account-menu .content .list-group .item .avatar {
    width: 50px;
    height: 50px;
    background-color: white;
}
.user-account-menu .content{
    width: 300px;
    padding: 10px 10px;
}
.user-account-menu .content .list-group .item:first-child{
    height: 80px;
}
.user-account-menu .content .list-group .item {
    width: 100%;
    justify-content: flex-start;
    padding: 2.5px;
    min-height: 50px;
    background-color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    align-items: center;
}
.user-account-menu .content .list-group {
    flex-direction: column;
}
.user-account-menu .content .list-group .item:hover {
    background-color: var(--white);
}
.item-icon {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--default-light);
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.item-icon svg {
    fill: var(--text-secondary);
}
@media screen and (max-width: 768px) {
    #home-page #top-nav {
        padding: 0 20px;
    }
    #home-page #top-nav {
        height: 55px;
    }
    #home-page #top-nav .input-wrapper {
        width: 90%;
    }
    #home-page #top-nav .input-wrapper:focus {
        width: 95%;
    }
    #home-page #top-nav .left-wrapper {
        flex: inherit;
    }
    .user-account-menu .content{
        width: 260px;
    }
    .brand{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    #home-page #top-nav {
        padding: 0 10px;
    }
    #home-page #top-nav .input-wrapper {
        display: none;
    }
    #top-nav .user-menu .avatar-wrapper{
        display: none;
    }
    .user-account-menu .content {
        right: 0;
    }
}